@import url('https://fonts.googleapis.com/css?family=quicksand');
*{margin: 0; padding: 0; box-sizing: border-box;}
body {
	background-color: #FFFFFF;
}
h1, p {	
	color: #000000;
	font-family: 'quicksand', sans-serif;
	font-size: 40px;
	line-height: 1.5em;
}
h3, p {
	font-size: 26px;
	line-height: 1em;
}
img,video{display: block; width: 100%;}